/.idea/modules.xml
/.idea/.gitignore
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/src.iml
/.idea/vcs.xml
/Client/Debug
/Client/.vs/Client/v16
/Client/Client.sln
/Client/Client.vcxproj
/Client/Client.vcxproj.filters
/Client/Client.vcxproj.user